:root {
}

.journal-button {
    flex-shrink: 1;
    height: 200px;
    width: auto;
    -unity-text-align: middle-center;
    white-space: pre-wrap;
    background-color: rgb(103, 85, 85);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 0;
    background-size: 36% 90%;
    background-position-x: left 3%;
    background-position-y: center;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: center;
}

.journal-button:hover {
    flex-shrink: 1;
    height: 200px;
    width: auto;
    -unity-text-align: middle-center;
    white-space: pre-wrap;
    background-color: rgb(120, 106, 106);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 0;
    background-size: 36% 90%;
    background-position-x: left 3%;
    background-position-y: center;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: center;
    -unity-background-image-tint-color: rgb(190, 187, 187);
}

.journal-button_image {
    background-image: url("project://database/Assets/Plugins/Demigiant/DOTween/Editor/Imgs/DOTweenIcon.png?fileID=2800000&guid=8da095e39e9b4df488dfd436f81116d6&type=3#DOTweenIcon");
    flex-basis: 100%;
    -unity-background-scale-mode: scale-to-fit;
    background-size: 90% 90%;
    max-width: none;
    width: 37%;
}

.journal-button_text {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-text-align: middle-center;
    white-space: pre-wrap;
    min-width: 50%;
}

.Window {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 0;
    background-color: rgb(0, 0, 0);
}

.code_text {
    align-items: stretch;
    white-space: normal;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    -unity-text-align: upper-left;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: 4px;
    padding-left: 1px;
}

.explanation_text {
    flex-wrap: wrap;
    white-space: normal;
    -unity-text-align: upper-left;
}

.unity-slider {
}

.unity-scroller__low-button {
}

.unity-scroller__high-button {
}

.unity-base-slider__dragger {
}

.unity-base-slider__tracker {
    border-top-width: 0;
    border-top-left-radius: 0;
}

.unity-tab__header {
    background-size: 100% 100%;
    width: auto;
    height: auto;
    background-position-x: center;
    background-position-y: bottom 0;
    -unity-background-scale-mode: scale-to-fit;
    align-content: auto;
    align-self: stretch;
    background-image: none;
    min-width: 113px;
    min-height: 56px;
}

.unity-tab-view__content-viewport {
    padding-left: 10px;
}

.modifier {
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(214, 214, 214);
    border-right-color: rgb(214, 214, 214);
    border-top-color: rgb(214, 214, 214);
    border-bottom-color: rgb(214, 214, 214);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.journal-button:checked {
    flex-shrink: 1;
    height: 200px;
    width: auto;
    -unity-text-align: middle-center;
    white-space: pre-wrap;
    background-color: rgb(120, 38, 38);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 0;
    background-size: 36% 90%;
    background-position-x: left 3%;
    background-position-y: center;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: center;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}
